.loading-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}


.no-results h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.no-results p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

.browse-btn {
  margin-top: 1.2rem;
  padding: 0.6rem 1.2rem;
  background-color: #63D6DD;
  color: #203538;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.browse-btn:hover {
  background-color: #3B3B3B;
  color: white;
}



.container-games {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.container-games h2 {
  color: #63D6DD;
  font-size: 1.5rem;
}

.games-box h4 {
  color: #63D6DD;
  font-size: 1rem;
  max-width: 100%;
}

.container-games p {
  font-size: 0.8rem;
}


.rent-btn {
  padding: 3px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #63D6DD;
  color: #171F21;
  font-weight: 700;
  transition: transform 0.15s;
}


.rent-btn:hover {
  transform: translateY(-2px);
  background-color: #418d91;
  color: white
}


.games-box {
  border: 2px solid #63D6DD;
  border-radius: 10px;
  padding: 10px 17px ;
  flex-direction: column;
}

.games-box h3 {
  flex-grow: 1;
}

.game-cover {
  width: 100%;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 50px;
  margin-top: 20px;
}

.not-loggedin {
  opacity: 50%;
  background-color: #326366;
  color: wheat;
}


.platform-selector {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 7px;
}

.platform-option {
  flex: 1;
  text-align: center;
  background-color: #63D6DD;
  color: #203538;
  padding: 7px 0;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.15s;
  user-select: none;
  font-weight: 800;
}

.platform-option:hover {
  background-color: #3b3b3b;
  transform: translateY(-2px);
  color: white;
}

.platform-option.active {
  background-color: transparent;
  color: #63D6DD;
  font-weight: 1000;
}

.platform-option input {
  display: none;
}


@media (max-width: 590px){

  .container-games h2 {
    font-size: 1.2rem;
  }
}
