.admin-container {
  margin: 0;
  background-color: #ffffff; 
}

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #171F21;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}


.logo-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}




.profile {
  display: flex;              
  flex-direction: column;  
  align-items: center;          
  gap: 0.5rem;                   
  padding: 0.75rem;
  border-radius: 12px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;            
}

.profile-avatar {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.profile-name {
  font-size: 17px;
  font-weight: 500;
  color: white;
}


.profile-sub {
  font-size: 0.75rem;
  color: #6b7280;
}


.nav ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #374151;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}

.nav-link:hover {
  background: #f3f4f6;
}

.nav-link.active {
  background: #eef2ff;
  color: #4f46e5;
  font-weight: 600;
}

/* Sign out */
.signout {
  margin-top: 2rem;
}

.signout-btn {
  color: #171F21;
    background-color: #63D6DD;
    border-radius: 25px;
    width: 100%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.signout-btn:hover {
  background: #fef2f2;
}

.dashboard-categ {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #63D6DD;
   
    
}

.stock-container {
    width: 100%;
    
}

.stock {
    color: #171F21;
    background-color: #ffffff;
    border: #ffffff 2px solid;
    border-radius: 15px;
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
