.rental-dashboard{
  color: black;
}

.rental-dashboard h1{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2rem;
  font-weight: 800;
}

.rental-dashboard p{
  padding-left: 20px;
}

.adminpage-rental-filter {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  font-weight: 800;
  background: transparent;
}


.adminpage-rental-headers{
  background: transparent;
  padding: 0 10px;
}

.adminpage-rental-headers-fix{
  padding-left: 30px;
  padding-right: 15px;
}


.adminpage-rentals-rowslist{
  border-radius: 20px;
  padding: 10px 0 10px 15px;
}

.adminpage-rentals-individual-rows{
  padding: 10px 0 10px 15px;
}


.adminpage-rentals-rowslist button{
  color: black;
  background: transparent;
}

.adminpage-rentals-active{
  background-color: black;
  color: #63D6DD;
}


/* allow popouts to overflow parent boxes */
.adminpage-rental-headers,
.adminpage-rentals-rowslist,
.adminpage-rentals-individual-rows {
  overflow: visible !important;
}

/* style the menu */
.admin-dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  z-index: 9999;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
}

.adminpage-rentals-delete_btn{
  color: red !important;
}

.adminpage-rentals-green-txt{
  color: green !important;
}

